---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource is available on GitHub Enterprise Cloud. It requires enterprise billing write permission. Enterprise owners and billing managers can also manage cost centers.

~> Deleting this resource archives the cost center in GitHub. GitHub's API does not permanently delete it.

~> `ai_credit_pool_enabled` can only be enabled for cost centers containing users or enterprise teams. Manage assignments with `github_enterprise_cost_center_resources`.

{{ if .HasExamples -}}
## Example Usage

{{- range .ExampleFiles }}

{{ tffile . }}
{{- end }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImportIDConfig }}

## Import

Import a cost center using the enterprise slug and cost center ID, separated by a colon.

In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile }}
{{- end }}
