---
page_title: "{{.Name}} ({{.Type}}) - {{.RenderedProviderName}}"
description: |-
  Creates and manages settings for a GitHub Organization.
---

# {{.Name}} ({{.Type}})

This resource allows you to create and manage settings for a GitHub Organization.

## Example Usage

{{ tffile "examples/resources/organization_settings/example_1.tf" }}

## Argument Reference

The following arguments are supported:

- `billing_email` - (Required) The billing email address for the organization.
- `company` - (Optional) The company name for the organization.
- `blog` - (Optional) The blog URL for the organization.
- `email` - (Optional) The email address for the organization.
- `twitter_username` - (Optional) The Twitter username for the organization.
- `location` - (Optional) The location for the organization.
- `name` - (Optional) The name for the organization.
- `description` - (Optional) The description for the organization.
- `has_organization_projects` - (Optional) Whether or not organization projects are enabled for the organization.
- `has_repository_projects` - (Optional) Whether or not repository projects are enabled for the organization.
- `default_repository_permission` - (Optional) The default permission for organization members to create new repositories. Can be one of `read`, `write`, `admin`, or `none`. Defaults to `read`.
- `members_can_create_repositories` - (Optional) Whether or not organization members can create new repositories. Defaults to `true`.
- `members_can_create_public_repositories` - (Optional) Whether or not organization members can create new public repositories. Defaults to `true`.
- `members_can_create_private_repositories` - (Optional) Whether or not organization members can create new private repositories. Defaults to `true`.
- `members_can_create_internal_repositories` - (Optional) Whether or not organization members can create new internal repositories. For Enterprise Organizations only.
- `members_can_create_pages` - (Optional) Whether or not organization members can create new pages. Defaults to `true`.
- `members_can_create_public_pages` - (Optional) Whether or not organization members can create new public pages. Defaults to `true`.
- `members_can_create_private_pages` - (Optional) Whether or not organization members can create new private pages. Defaults to `true`.
- `members_can_fork_private_repositories` - (Optional) Whether or not organization members can fork private repositories. Defaults to `false`.
- `members_can_delete_repositories` - (Optional) Whether or not members with admin permissions can delete repositories.
- `members_can_change_repo_visibility` - (Optional) Whether or not members with admin permissions can change repository visibility.
- `members_can_invite_outside_collaborators` - (Optional) Whether or not members with admin permissions can invite outside collaborators.
- `members_can_delete_issues` - (Optional) Whether or not members with admin permissions can delete issues.
- `display_commenter_full_name_setting_enabled` - (Optional) Whether or not members can see commenters' full names in private repositories.
- `readers_can_create_discussions` - (Optional) Whether or not users with read access can create and comment on discussions.
- `members_can_create_teams` - (Optional) Whether or not organization members can create teams.
- `members_can_view_dependency_insights` - (Optional) Whether or not organization members can view dependency insights.
- `default_repository_branch` - (Optional) The default branch name for new repositories in the organization.
- `web_commit_signoff_required` - (Optional) Whether or not commit signatures are required for commits to the organization. Defaults to `false`.
- `advanced_security_enabled_for_new_repositories` - (Optional) Whether or not advanced security is enabled for new repositories. Defaults to `false`.
- `dependabot_alerts_enabled_for_new_repositories` - (Optional) Whether or not dependabot alerts are enabled for new repositories. Defaults to `false`.
- `dependabot_security_updates_enabled_for_new_repositories` - (Optional) Whether or not dependabot security updates are enabled for new repositories. Defaults to `false`.
- `dependency_graph_enabled_for_new_repositories` - (Optional) Whether or not dependency graph is enabled for new repositories. Defaults to `false`.
- `secret_scanning_enabled_for_new_repositories` - (Optional) Whether or not secret scanning is enabled for new repositories. Defaults to `false`.
- `secret_scanning_push_protection_enabled_for_new_repositories` - (Optional) Whether or not secret scanning push protection is enabled for new repositories. Defaults to `false`.
- `secret_scanning_validity_checks_enabled` - (Optional) Whether or not secret scanning automatic validity checks are enabled for the organization. Defaults to `false`.
- `secret_scanning_push_protection_custom_link_enabled` - (Optional) Whether or not a custom link is shown to contributors who are blocked from pushing a secret by push protection. Defaults to `false`.
- `secret_scanning_push_protection_custom_link` - (Optional) The URL displayed to contributors who are blocked from pushing a secret by push protection.
- `deploy_keys_enabled_for_repositories` - (Optional) Whether or not deploy keys may be added and used for repositories in the organization. Defaults to `false`.

## Attributes Reference

The following additional attributes are exported:

- `id` - The ID of the organization settings.

## Import

Organization settings can be imported using the `id` of the organization. The `id` of the organization can be found using the [get an organization](https://docs.github.com/en/rest/orgs/orgs#get-an-organization) API.

```shell
terraform import github_organization_settings.test 123456789
```
